<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yulong.datasourse.mapper.DatasourceMapper">
  <resultMap id="BaseResultMap" type="priv.yulong.datasourse.model.Datasource">
    <id column="ID" jdbcType="CHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SOFT_VERSION" jdbcType="VARCHAR" property="softVersion" />
    <result column="DB_TYPE" jdbcType="VARCHAR" property="dbType" />
    <result column="INSTANCE" jdbcType="VARCHAR" property="instance" />
    <result column="HOST" jdbcType="VARCHAR" property="host" />
    <result column="PORT" jdbcType="VARCHAR" property="port" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_PASSWORD" jdbcType="VARCHAR" property="userPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, NAME, SOFT_VERSION, DB_TYPE, INSTANCE, HOST, PORT, USER_NAME, USER_PASSWORD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DIC_DATASOURCE
    where ID = #{id,jdbcType=CHAR}
  </select>
  <select id="selectByDatasourceCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DIC_DATASOURCE
    where CODE = #{code,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DIC_DATASOURCE
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="priv.yulong.datasourse.model.Datasource">
    insert into DIC_DATASOURCE (ID, CODE, NAME, 
      SOFT_VERSION, DB_TYPE, INSTANCE, 
      HOST, PORT, USER_NAME, 
      USER_PASSWORD)
    values (#{id,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{softVersion,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, #{instance,jdbcType=VARCHAR}, 
      #{host,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="priv.yulong.datasourse.model.Datasource">
    insert into DIC_DATASOURCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="softVersion != null">
        SOFT_VERSION,
      </if>
      <if test="dbType != null">
        DB_TYPE,
      </if>
      <if test="instance != null">
        INSTANCE,
      </if>
      <if test="host != null">
        HOST,
      </if>
      <if test="port != null">
        PORT,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userPassword != null">
        USER_PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="softVersion != null">
        #{softVersion,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null">
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="instance != null">
        #{instance,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="priv.yulong.datasourse.model.Datasource">
    update DIC_DATASOURCE
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="softVersion != null">
        SOFT_VERSION = #{softVersion,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null">
        DB_TYPE = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="instance != null">
        INSTANCE = #{instance,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        HOST = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        PORT = #{port,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="priv.yulong.datasourse.model.Datasource">
    update DIC_DATASOURCE
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SOFT_VERSION = #{softVersion,jdbcType=VARCHAR},
      DB_TYPE = #{dbType,jdbcType=VARCHAR},
      INSTANCE = #{instance,jdbcType=VARCHAR},
      HOST = #{host,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>